<html>
    <head>
        <style>
            th, td {
                border:1px solid black;
            }
        </style>
        <title>
            faas-benchmarker web ui
        </title>
    </head>
    <body>

        <!-- ascii banner -->
        <pre>
{{banner}}
        </pre>

        <!-- experiment table header -->
        <h2>
            {{ experiment_table_header }}
        </h2>

        <!-- experiment data table -->
        <table>

            <tr>
            {% for key in experiment_keys %}
                <th>
                    {{ key }}
                </th>
            {% endfor %}
            </tr>

            {% for exp in experiments %}
            <tr>
                {% for key,value in exp.items() %}
                <td>
                    {{ value }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </body>
</html>
