azure-functions==1.2.0
bcrypt==3.1.7
boto3==1.12.31
botocore==1.15.31
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
docutils==0.15.2
Flask==1.1.2
Flask-SocketIO==4.3.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.5
MarkupSafe==1.1.1
numpy==1.22.0
pandas==1.0.3
paramiko==2.7.1
psutil==5.7.0
pycparser==2.20
pyfiglet==0.8.post1
PyMySQL==0.9.3
PyNaCl==1.4.0
python-dateutil==2.8.1
python-engineio==3.13.1
python-socketio==4.6.0
pytz==2020.1
requests==2.23.0
s3transfer==0.3.3
six==1.14.0
sshtunnel==0.1.5
urllib3==1.25.8
Werkzeug==1.0.1
